@font-face {
    font-family: '국립박물관문화재단클래식B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '국립박물관문화재단클래식M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.museumBold {
    font-family: '국립박물관문화재단클래식B', serif;
}

.museumMedium {
    font-family: '국립박물관문화재단클래식M', serif;
}

.suitRegular {
    font-family: 'SUIT-Regular', serif;
}

.suitExtraBold {
    font-family: 'SUIT-ExtraBold', serif;
}

#root {
    background: url(./images/backgroundimage.png) center center no-repeat;
    background-size: cover;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    padding: 30px 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

.wrap > * {
    text-align: center;
    margin: 0 auto;
}

.titlebox {
    width: 235px;
    height: 72px;
    margin-left: 0;
    margin-bottom: 10px;
}

.titletext {
    font-size: 32px;
    text-align: left;
}

.subtitletext {
    font-size: 16px;
    color: rgb(89, 87, 87);
    width: 232px;
    height: 17px;
    margin-left: 0;
    margin-bottom: 30px;
}

.quiztitletext {
    font-size: 24px;
    height: 26px;
    margin-bottom: 10px;
}

.namebox {
    display: flex;
    width: 87px;
    height: 24px;
    margin-right: 0;
    margin-bottom: 10px;
}

.nametext1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    width: 39px;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
}

.nametext2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    text-align: center;
    width: 49px;
    border: 1px solid rgb(0, 0, 0);
    border-left: none;
    box-sizing: border-box;
}

.line {
    width: 280px;
    height: 1px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 30px;
}

.questionbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    padding: 30px 10px;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    margin-bottom: 30px;
}

.questiontext {
    font-size: 14px;
    word-break: keep-all;
}

.imagearea {
    width: 260px;
    height: 160px;
    background: url(./images/mainimage.png) center center no-repeat;
    background-size: cover;
    margin-bottom: 30px;
}

.numberofuser {
    font-size: 12px;
    color: rgb(89, 87, 87);
    font-weight: normal;
    text-align: center;
    height: 15px;
    margin-bottom: 10px;
}

.answerarea {
    margin-bottom: 20px;
}

.answerbuttonbox {
    display: flex;
    background-color: rgb(255, 255, 255);
}

.answerradiobox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
}

.answerradiochecked {
    background-color: rgb(89, 87, 87);
    color: rgb(255, 255, 255);
}

.answerradio {
    display: none;
}

.answertext {
    display: flex;
    align-items: center;
    width: 232px;
    height: 48px;
    padding-left: 20px;
    border: 1px solid rgb(0, 0, 0);
    border-left: 0;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.inputtextarea {
    display: flex;
    margin-bottom: 30px;
}

.inputtext {
    width: 280px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    border-width: 1px;
    box-sizing: border-box;
}

.nextbutton {
    font-size: 20px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    width: 280px;
    height: 48px;
    text-align: center;
    background-color: rgb(193, 2, 48);
    border-radius: 12px;
    border: none;
    padding: 0;
    margin-bottom: 10px;
}

.leftquiz {
    color: rgb(89, 87, 87);
    font-size: 12px;
    font-weight: normal;
    height: 16px;
    text-align: center;
}

.resultpage {
    padding: 0;
}

.resultimage {
    width: 100%;
}

.retrybutton {
    position: fixed;
    right: 20px;
    bottom: 110px;
    width: 70px;
    height: 70px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background: url(./images/btn_retry.png);
    background-size: cover;
}

.urlcopybutton {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 70px;
    height: 70px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background: url(./images/btn_share.png);
    background-size: cover;
}

@media screen and (min-width: 768px) {
    .wrap {
        width: 768px;
    }

    .resultimage {
        width: auto;
        height: 100%;
    }

    .retrybutton {
        right: 20px;
        bottom: 140px;
        width: 100px;
        height: 100px;
    }

    .urlcopybutton {
        right: 20px;
        bottom: 20px;
        width: 100px;
        height: 100px;
    }
}